/* --- Bookmark Page --- */
body {
    background-color: black;
    margin-left: 16px;
    margin-right: 16px;
}

/* Overall container */
.wd-bm-overall-container {
    border: 1px solid rgb(47, 51, 54);
    width: 598px;
}

/* For Section A */
.wd-bm-A-container {
    border-bottom: 1px solid rgb(47, 51, 54);
    padding: 12px 16px;
}
.wd-bm-A-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui;
}
.wd-bm-A-handle {
    color: rgb(110, 118, 125);
    font-size: 13px;
    font-family: system-ui;
    margin-top: 4px;
}

/* For Section B */
.wd-bm-BtoG-border-bottom {
    border-bottom: 1px solid rgb(47, 51, 54);
}
.wd-bm-BtoG-container {
    padding: 12px 16px 16px;
}
.wd-bm-B-container {
    margin-right: 12px;
}
.wd-bm-B-avatar-photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

/* For Section C */
.wd-bm-CtoF-container {
    padding-left: 16px;
}
.wd-bm-C-author {
    color: white;
    font-size: 15px;
    font-family: system-ui;
    font-weight: bold;
}
.wd-bm-C-handle {
    color: rgb(110, 118, 125) ;
    font-size: 15px;
    font-family: system-ui;
}

/* For Section D */
.wd-bm-D-container {
    color: white;
    font-size: 15px;
    font-family: system-ui;
    max-width: 506px;
}

/* For Section E */
.wd-bm-EtoF-container {
    border: 1px solid rgb(47, 51, 54);
    border-radius: 20px;
    margin-top: 12px;
    max-width: 504px;
}
.wd-bm-E-photo {
    border-radius:20px 20px 0 0;
    height: 264px;
    width: 504px;
    object-fit: cover;
}

/* For Section F */
.wd-bm-F-container {
    padding: 12px;
}
.wd-bm-F-title {
    color: white;
    font-size: 15px;
    font-family: system-ui;
    font-weight: bold;
    padding-bottom: 12px;
}
.wd-bm-F-grey-text {
    color: rgb(110, 118, 125);
    font-size: 15px;
    font-family: system-ui;
}
.wd-bm-F-link-icon {
    height: 12px;
    width: 12px;
    object-fit: cover;
}

/* For Section G */
.wd-bm-G-container {
    margin-top: 12px;
}
.wd-bm-G-box {
    width: 25%;
    float: right;
}
.wd-bm-G-hyperlink-container {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.wd-bm-G-icon {
    height: 15px;
    width: 15px;
    object-fit: cover;
}
.wd-bm-G-text {
    font-size: 15px;
    font-family: system-ui;
    margin-left: 12px;
}