.wd-color-white {
    color: white;
}

.wd-color-blue {
    color: rgb(29,161,242)
}

.wd-color-grey {
    color: rgb(110, 118, 125)
}

.wd-color-red {
    color: red;
}

.wd-color-border {
    color: rgb(47, 51, 54);
}

.wd-background-color-darkgrey {
    background-color: rgb(33, 35, 39);
}

.wd-margin-left-default {
    margin-left: 16px;
}

.wd-padding-all-around {
    padding: 16px;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-float-done {
    clear: both;
}

.wd-more-button {
    width: 16px;
    height: 8px;
    object-fit: cover;
}
